// PADDING SIZES
.pt-sm {
    padding-top: 1rem;
}

.pt-md {
    padding-top: 2rem;
}

.pr-sm {
    padding-right: 1rem;
}

.pb-sm {
    padding-bottom: 1rem;
}

.pl-sm {
    padding-left: 1rem;
}

.pl-0 {
    padding-left: 0;
}

// MARGIN SIZES
.mt-sm {
    margin-top: 1rem;
}

.mr-sm {
    margin-right: 1rem;
}

.mr-md {
    margin-right: 2rem;
}

.mb-sm {
    margin-bottom: 2.7rem;
}

.mb-xs {
    margin-bottom: 1.7rem;
}

.ml-sm {
    margin-left: 1rem;
}
